<h1>Stock Market App</h1>

<%= form_tag root_path, :method => 'POST' do %>
	<%= text_field_tag "ticker", nil, placeholder: "Enter Ticker symbol here", size: 50%>
	<%= submit_tag 'LookUp'%>
<% end %>
	<br></br>

	

	<%if @stock %>
		<%= @stock.company_name %>
		$<%= @stock.latest_price %>
	<%elsif @nothing%>
		<%= @nothing%>
	<% else%>
		<%=@error%>
	<% end %>



